In [1]:
# Load libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Open the CSV and read with Pandas
visitors_file = "../Resources/All National Parks Visitation 1904-2016.csv"
visitors_df = pd.read_csv(visitors_file)
visitors_df.head()

,Created By,Measure Selector,Year,Date Edit,ScrapeURL,GIS Notes,Gnis Id,Geometry,Metadata,Number of Records,Parkname,Region,State,Unit Code,Unit Name,Unit Type,Visitors,YearRaw
0,Legacy,1,1/1/1904 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1163670,POLYGON,NaN,1,Crater Lake,PW,OR,CRLA,Crater Lake National Park,National Park,1500.0,1904
1,Legacy,1,1/1/1941 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1531834,MULTIPOLYGON,NaN,1,Lake Roosevelt,PW,WA,LARO,Lake Roosevelt National Recreation Area,National Recreation Area,0.0,1941
2,Legacy,1,1/1/1961 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,2055170,MULTIPOLYGON,NaN,1,Lewis and Clark,PW,WA,LEWI,Lewis and Clark National Historical Park,National Historical Park,69000.0,1961
3,Legacy,1,1/1/1935 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1530459,MULTIPOLYGON,NaN,1,Olympic,PW,WA,OLYM,Olympic National Park,National Park,2200.0,1935
4,Legacy,1,1/1/1982 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact denise_kamradt@nps.gov for add...,277263,POLYGON,NaN,1,Santa Monica Mountains,PW,CA,SAMO,Santa Monica Mountains National Recreation Area,National Recreation Area,468144.0,1982

In [13]:
# Grab only National Parks from the DataFrame
visitors_df = visitors_df.loc[visitors_df["Unit Type"] == "National Park"]

# Create filtered dataframe with specific columns
visitors_cols = ["Region", "State", "Unit Name", "Visitors", "YearRaw"]
visitors_transformed= visitors_df[visitors_cols].copy()



# Rename the column headers for clarification
visitors_transformed = visitors_transformed.rename(columns={"Region":"region",
                                                            "State":"state",
                                                            "Unit Name": "park_name",
                                                            "Visitors":"visitors",
                                                            "YearRaw": "year"})

# Reset the index
visitors_transformed.reset_index(drop=True, inplace=True)

# Create the ID column based off of the index
visitors_transformed['id'] = visitors_transformed.index + 1

visitors_transformed.head()

  region state                  park_name  visitors  year  id
0     PW    OR  Crater Lake National Park    1500.0  1904   1
1     PW    WA      Olympic National Park    2200.0  1935   2
2     NE    ME       Acadia National Park   64000.0  1919   3
3     IM    TX     Big Bend National Park    1409.0  1944   4
4     SE    FL   Everglades National Park    7482.0  1948   5

In [ ]:
# Create connection string to database
connection_string = "postgres:postgres@localhost:5432/national_parks_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Load the database
visitors_cleaned.to_sql(name='park_visitation', con=engine, if_exists='append', index=True)